html {
    background: url('../images/background_city_cropped.JPG') no-repeat center center fixed;
    background-size: cover;
}

body,
input {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
    color: white;
    font-family: Arial;
}

h1 {
    font-size: 42pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 16pt;
    color: rgb(200, 200, 200);
}

h3 {
    font-size: 14pt;
}

p {
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bold;
}


/*
 *  email button 
 */

.center-button {
    margin: 30px 0px;
    text-align: center;
}

.button {
    padding: 10px 15px;
    color: rgb(200, 200, 200);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(0, 63, 180);
    box-shadow: -1px 1px 5px 9px rgba(251, 251, 251, 0.25);
}

.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 89, 255);
}


/* 
 *  content is on every page and holds 
 *  the main sections. 
 */

#content {
    float: none;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, black, rgba(128, 128, 128, 0));
    opacity: 0.9;
    margin: 100px 75px 25px;
    padding: 100px 25px 150px;
    box-shadow: -1px 1px 5px 9px rgba(44, 44, 44, 0.5);
}


/* SMALLER BROWSER WINDOW */


/* 
 *	first resize accounts for nav bar 
 *  collisions with the links. This 
 *  hides all links but the home link 
 *  and puts the rest under the "three bar" 
 *  button. 
 */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1200px) {}


/*  
 *  The "responsive" class is added to the 
 *  topnav with JavaScript when the user clicks 
 *  on the icon. This class makes the topnav 
 *  look good on small screens (display the links 
 *  vertically instead of horizontally)
 */

@media screen and (max-width: 1200px) {}


/* 
 *  This resize accounts for the smaller devices 
 *  and sets a hard coded minimum width. 
 */

@media screen and (max-width: 650px) {}